<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Get your AppSID and AppKey at https://dashboard.groupdocs.cloud (free registration is required). -->
    <add key="AppSID" value="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" />
    <add key="AppKey" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" />
    <add key="ApiBaseUrl" value="http://api.groupdocs.cloud" />
  </appSettings>
</configuration>