<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Get your AppSID and AppKey at https://dashboard.groupdocs.cloud/ (free registration is requited). -->
    <add key="AppSID" value="c409edec-a506-44d6-a8ce-63265bce1509"/>
    <add key="AppKey" value="66b5504cdbf45e5606f70899532371e0"/>
    <!--This is api-qa keys-->
    <!--<add key="AppSID" value="9b881efb-5e6c-428e-b65b-e05d37e15875"/>
    <add key="AppKey" value="98fb26e80f5614d029a312727136e041"/>-->
    
    <add key="ApiBaseUrl" value="http://api-qa.groupdocs.cloud/"/>
  </appSettings>
</configuration>